<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>{{title}}</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	 
	<!-- Animate CSS -->
	<link rel="stylesheet" href="/assets/css/animate.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/admin.css">

</head>

<body>
	<div class="main-wrapper">

		<!-- Header -->
		{% include "header.html" %}
		<!-- /Header -->

		<!-- Sidebar -->
		{% include "side_bar.html" %}
		<!-- /Sidebar -->

		<div class="page-wrapper">
			<div class="content container-fluid">
			
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-12">
							<h3 class="page-title">한눈에 보기</h3>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				
				<div class="row">
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-user-friends"></i>
									</span>
									<div class="dash-widget-info">
										<h3>{{number.userAll}}</h3>
										<h6 class="text-muted">전체 사용자</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-user-check"></i>
									</span>
									<div class="dash-widget-info">
										<h3>{{number.userOn}}</h3>
										<h6 class="text-muted">온라인</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-user-lock"></i>
									</span>
									<div class="dash-widget-info">
										<h3>{{number.userOff}}</h3>
										<h6 class="text-muted">오프라인</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-user-edit"></i>
									</span>
									<div class="dash-widget-info">
										<h3>{{number.userNull}}</h3>
										<h6 class="text-muted">기기 미등록</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					{% for str, arr in array %}
					<div class="col-md-6 d-flex">
					
						<!-- Recent Bookings -->
						<div class="card card-table flex-fill">
							<div class="card-header">
								<h4 class="card-title">{{str}}</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-center">
										<thead>
											<tr>
												<th>이름</th>
												<th>소속 중대</th>
												<th>접속여부</th>
												<th>출타여부</th>
												<th>최근 접속일</th>
											</tr>
										</thead>
										<tbody>
											{% for user in arr %}
											<tr>
												<td class="text-nowrap">
												<img class="avatar-xs rounded-circle" src="/assets/img/customer/user-05.jpg" alt="User Image"> {{ user.dataValues.name }}
												</td>
												<td>{{ user.dataValues.company }}</td>
												<td>
													{% if user.dataValues.locked === null %}
													<span class="badge badge-danger">기기 미등록</span>
													{% elif user.dataValues.locked %}
													<span class="badge badge-dark">오프라인</span>
													{% else %}
													<span class="badge badge-primary">온라인</span>
													{% endif %}
												</td>
												<td>{{ user.dataValues.state }}</td>
												<td class="text-nowrap">{{ user.dataValues.date }}</td>
													<div class="font-weight-600"></div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div> 
			</div>
		</div> 
	</div>

	<!-- jQuery -->
	<script src="/assets/js/jquery-3.5.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Custom JS -->
	<script src="/assets/js/admin.js"></script>

</body>

</html>