<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>{{title}}</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Datatables CSS -->
	<link rel="stylesheet" href="/assets/plugins/datatables/datatables.min.css">

	<!-- Animate CSS -->
	<link rel="stylesheet" href="/assets/css/animate.min.css">

	<!-- Select CSS -->
	<link rel="stylesheet" href="/assets/css/select2.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/admin.css">

</head>

<body>
	<div class="main-wrapper">

		<!-- Header -->
		{% include "header.html" %}
		<!-- /Header -->

		<!-- Sidebar -->
		{% include "side_bar.html" %}
		<!-- /Sidebar -->
		
		<div class="page-wrapper">
			<div class="content container-fluid">
			
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col">
							<h3 class="page-title">사용자 관리하기</h3>
						</div>
						<div class="col-auto text-right">
							<a class="btn btn-white filter-btn" href="javascript:void(0);" id="filter_search">
								<i class="fas fa-filter"></i>
							</a>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				
				<!-- Search Filter -->
				<div class="card filter-card" id="filter_inputs">
					<div class="card-body pb-0">
						<form>
							<div class="row filter-row">
								 <div class="col-sm-6 col-md-3">
									<div class="form-group">
										<label class="col-form-label">From Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text">
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-3">
									<div class="form-group">
										<label class="col-form-label">To Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text">
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-3">
									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit">검색하기(기능 구현 예정)</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /Search Filter -->
				
				<ul class="nav nav-tabs menu-tabs">
					<li class="nav-item active">
						<a class="nav-link" href="/manage/user">전체보기 <span class="badge badge-primary">{{number.userAll}}</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/manage/user">온라인 <span class="badge badge-primary">{{number.userOn}}</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/manage/user">오프라인 <span class="badge badge-primary">{{number.userOff}}</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/manage/user">등록된 단말기 <span class="badge badge-primary">{{number.userNotNull}}</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/manage/user">미등록 단말기<span class="badge badge-primary">{{number.userNull}}</span></a>
					</li>
				</ul>
				
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>#</th>
												<th>이름</th>
												<th>소속 중대</th>
												<th>출타 여부</th>
												<th>전화 번호</th>
												<th>비상 연락망</th>
												<th>접속 여부</th>
												<th>최근 접속일</th>
											</tr>
										</thead>
										<tbody>
											{% for user in arr %}
											<tr>
												<td>{{ user.dataValues.id }}</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/customer/user-02.jpg">
														</a>
														<a href="javascript:void(0);">{{ user.dataValues.name }}</a>
													</span>
												</td>
												<td>{{ user.dataValues.company }}</td>
												<td>{{ user.dataValues.state }}</td>
												<td>{{ user.dataValues.phone_number }}</td>
												<td>{{ user.dataValues.contact_number }}</td>
												<td>
													{% if user.dataValues.locked === null %}
													<span class="badge badge-danger">미등록 단말기</span>
													{% elif user.dataValues.locked %}
													<span class="badge badge-dark">오프라인</span>
													{% else %}
													<span class="badge badge-primary">온라인</span>
													{% endif %}
												</td>
												<td>{{ user.dataValues.date }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- jQuery -->
	<script src="/assets/js/jquery-3.5.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Datepicker Core JS -->
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Datatables JS -->
	<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/assets/plugins/datatables/datatables.min.js"></script>

	<!-- Select2 JS -->
	<script src="/assets/js/select2.min.js"></script>

	<!-- Custom JS -->
	<script src="/assets/js/admin.js"></script>

</body>

</html>